@import java.text.SimpleDateFormat
@import com.github.scova0731.petstore4s.step2.domain.Account
@import com.github.scova0731.petstore4s.step2.domain.Order
@import com.github.scova0731.petstore4s.step2.views.html.common.IncludeTop
@import com.github.scova0731.petstore4s.step2.views.html.common.IncludeBottom
@import com.github.scova0731.petstore4s.step2.web.action.routes

@(order: Order)(implicit messages: Messages, flash: Flash, account: Option[Account])

@IncludeTop()

<div id="BackLink">
	<a href="@routes.CatalogActionBean.main()">Return to Main Menu</a>

</div>

<div id="Catalog">Please confirm the information below and then
press continue...

<table>
	<tr>
		<th align="center" colspan="2"><font size="4"><b>Order</b></font>
		<br />
		<font size="3"><b>
			@(new SimpleDateFormat("yyyy/MM/dd hh:mm:ss").format(order.orderDate))
		</b></font>
		</th>
	</tr>

	<tr>
		<th colspan="2">Billing Address</th>
	</tr>
	<tr>
		<td>First name:</td>
		<td>
			@order.billAddress.toFirstName
		</td>
	</tr>
	<tr>
		<td>Last name:</td>
		<td>
			@order.billAddress.toLastName
		</td>
	</tr>
	<tr>
		<td>Address 1:</td>
		<td>
			@order.billAddress.address1
		</td>
	</tr>
	<tr>
		<td>Address 2:</td>
		<td>
			@order.billAddress.address2
		</td>
	</tr>
	<tr>
		<td>City:</td>
		<td>
			@order.billAddress.city
		</td>
	</tr>
	<tr>
		<td>State:</td>
		<td>
			@order.billAddress.state
		</td>
	</tr>
	<tr>
		<td>Zip:</td>
		<td>
			@order.billAddress.zip
		</td>
	</tr>
	<tr>
		<td>Country:</td>
		<td>
			@order.billAddress.country
		</td>
	</tr>
	<tr>
		<th colspan="2">Shipping Address</th>
	</tr>
	<tr>
		<td>First name:</td>
		<td>
			@order.shipAddress.toFirstName
		</td>
	</tr>
	<tr>
		<td>Last name:</td>
		<td>
			@order.shipAddress.toLastName
		</td>
	</tr>
	<tr>
		<td>Address 1:</td>
		<td>
			@order.shipAddress.address1
		</td>
	</tr>
	<tr>
		<td>Address 2:</td>
		<td>
			@order.shipAddress.address2
		</td>
	</tr>
	<tr>
		<td>City:</td>
		<td>
			@order.shipAddress.city
		</td>
	</tr>
	<tr>
		<td>State:</td>
		<td>
			@order.shipAddress.state
		</td>
	</tr>
	<tr>
		<td>Zip:</td>
		<td>
			@order.shipAddress.zip
		</td>
	</tr>
	<tr>
		<td>Country:</td>
		<td>
			@order.shipAddress.country
		</td>
	</tr>
</table>

@helper.form(action = routes.OrderActionBean.newOrder()) {
	<input type="hidden" name="confirmed" value="true" />
	<input type="submit" name="newOrder" value="Confirm" />
}
</div>

@IncludeBottom()





