@import com.github.scova0731.petstore4s.step2.domain.Account
@import com.github.scova0731.petstore4s.step2.views.html.common.IncludeTop
@import com.github.scova0731.petstore4s.step2.views.html.common.IncludeBottom
@import com.github.scova0731.petstore4s.step2.web.action.routes

@()(implicit messages: Messages, flash: Flash, account: Option[Account])

@IncludeTop()


<div id="Welcome">
<div id="WelcomeContent">
	@if(account.isDefined) {
		Welcome @account.get.firstName
	}
</div>
</div>

<div id="Main">
<div id="Sidebar">
<div id="SidebarContent">
	<a href="@routes.CatalogActionBean.viewCategory("FISH")">
		<img src="../images/fish_icon.gif" />
	</a>
	<br />
	Saltwater, Freshwater <br />
	<a href="@routes.CatalogActionBean.viewCategory("DOGS")">
		<img src="../images/dogs_icon.gif" />
	</a>
	<br />
	Various Breeds <br />
	<a href="@routes.CatalogActionBean.viewCategory("CATS")">
		<img src="../images/cats_icon.gif" />
	</a>
	<br />
	Various Breeds, Exotic Varieties <br />
	<a href="@routes.CatalogActionBean.viewCategory("REPTILES")">
		<img src="../images/reptiles_icon.gif" />
	</a>
	<br />
	Lizards, Turtles, Snakes <br />
	<a href="@routes.CatalogActionBean.viewCategory("BIRDS")">
		<img src="../images/birds_icon.gif" />
	</a>
	<br />
Exotic Varieties</div>
</div>

<div id="MainImage">
<div id="MainImageContent">
  <map name="estoremap">
	<area alt="Birds" coords="72,2,280,250"
		href="@routes.CatalogActionBean.viewCategory("BIRDS")" shape="RECT" />
	<area alt="Fish" coords="2,180,72,250"
		href="@routes.CatalogActionBean.viewCategory("FISH")" shape="RECT" />
	<area alt="Dogs" coords="60,250,130,320"
		href="@routes.CatalogActionBean.viewCategory("DOGS")" shape="RECT" />
	<area alt="Reptiles" coords="140,270,210,340"
		href="@routes.CatalogActionBean.viewCategory("REPTILES")" shape="RECT" />
	<area alt="Cats" coords="225,240,295,310"
		href="@routes.CatalogActionBean.viewCategory("CATS")" shape="RECT" />
	<area alt="Birds" coords="280,180,350,250"
		href="@routes.CatalogActionBean.viewCategory("BIRDS")" shape="RECT" />
  </map>
  <img height="355" src="../images/splash.gif" align="middle"
	usemap="#estoremap" width="350" /></div>
</div>

<div id="Separator">&nbsp;</div>
</div>

@IncludeBottom()
