@import java.text.DecimalFormat
@import com.github.scova0731.petstore4s.step2.domain.Account
@import com.github.scova0731.petstore4s.step2.domain.Item
@import com.github.scova0731.petstore4s.step2.domain.Product
@import com.github.scova0731.petstore4s.step2.views.html.common.IncludeTop
@import com.github.scova0731.petstore4s.step2.views.html.common.IncludeBottom
@import com.github.scova0731.petstore4s.step2.web.action.routes

@(items: Seq[Item], product: Product)(implicit messages: Messages, flash: Flash, account: Option[Account])

@IncludeTop()

<div id="BackLink">
	<a href="@routes.CatalogActionBean.viewCategory(product.categoryId)">Return to @product.categoryId</a>
</div>

<div id="Catalog">

<h2>
	@product.name
</h2>

<table>
	<tr>
		<th>Item ID</th>
		<th>Product ID</th>
		<th>Description</th>
		<th>List Price</th>
		<th>&nbsp;</th>
	</tr>
	@for(item <- items) {
		<tr>
			<td>
				<a href="@routes.CatalogActionBean.viewItem(item.itemId)">@item.itemId</a>
			</td>
			<td>
				@item.product.productId
			</td>
			<td>
				@item.attribute1 @item.attribute2 @item.attribute3 @item.attribute4 @item.attribute5 @product.name
			</td>
			<td>
				@(new DecimalFormat("$#,##0.00").format(item.listPrice))
			</td>
			<td>
				<a href="@routes.CartActionBean.addItemToCart(item.itemId)" class="Button">Add to Cart</a>
			</td>
		</tr>
	}
	<tr>
		<td>
		</td>
	</tr>
</table>

</div>

@IncludeBottom()





