@import java.text.DecimalFormat
@import com.github.scova0731.petstore4s.step1.domain.Account
@import com.github.scova0731.petstore4s.step1.domain.Item
@import com.github.scova0731.petstore4s.step1.views.html.common.IncludeTop
@import com.github.scova0731.petstore4s.step1.views.html.common.IncludeBottom
@import com.github.scova0731.petstore4s.step1.web.action.routes

@(item: Item)(implicit messages: Messages, flash: Flash, account: Option[Account])

@IncludeTop()

<div id="BackLink">
  <a href="@routes.CatalogActionBean.viewProduct(item.product.productId)">Return to @item.product.productId</a>
</div>

<div id="Catalog">

<table>
	<tr>
		<td>
      @Html(item.product.description)
		</td>
	</tr>
	<tr>
		<td><b>
			@item.itemId
		</b></td>
	</tr>
	<tr>
		<td><b><font size="4">
			@item.attribute1 @item.attribute2 @item.attribute3 @item.attribute4 @item.attribute5 @item.product.name
		</font></b></td>
	</tr>
	<tr>
		<td>
			@item.product.name
		</td>
	</tr>
	<tr>
		<td>
			@if(item.quantity <= 0) {
				Back ordered.
			} else {
				@item.quantity in stock.
			}
		</td>
	</tr>
	<tr>
		<td>
			@(new DecimalFormat("$#,##0.00").format(item.listPrice))
		</td>
	</tr>

	<tr>
		<td>
			<a href="@routes.CartActionBean.addItemToCart(item.itemId)" class="Button">Add to Cart</a>
		</td>
	</tr>
</table>

</div>

@IncludeBottom()



