@import com.github.scova0731.petstore4s.step1.domain.Account
@import com.github.scova0731.petstore4s.step1.domain.Product
@import com.github.scova0731.petstore4s.step1.views.html.common.IncludeTop
@import com.github.scova0731.petstore4s.step1.views.html.common.IncludeBottom
@import com.github.scova0731.petstore4s.step1.web.action.routes

@(products: Seq[Product])(implicit messages: Messages, flash: Flash, account: Option[Account])

@IncludeTop()

<div id="BackLink">
	<a href="@routes.CatalogActionBean.main()">Return to Main Menu</a>

</div>

<div id="Catalog">

<table>
	<tr>
		<th>&nbsp;</th>
		<th>Product ID</th>
		<th>Name</th>
	</tr>
	@for(product <- products) {
		<tr>
			<td>
				<a href="@routes.CatalogActionBean.viewProduct(product.productId)">@Html(product.description)</a>
			</td>
			<td>
				<b><a href="@routes.CatalogActionBean.viewProduct(product.productId)">
					<font color="BLACK">@product.productId</font></a></b>
			</td>
			<td>@product.name</td>
		</tr>
	}
	<tr>
		<td></td>
	</tr>

</table>

</div>

@IncludeBottom()




