@import com.github.scova0731.petstore4s.step1.domain.Account
@import com.github.scova0731.petstore4s.step1.web.action.AccountActionBean

@(account: Option[Account])

<h3>Account Information</h3>

<table>
	<tr>
		<td>First name:</td>
		<td>
			<input type="text" name="firstName" value="@account.map(_.firstName)" />
		</td>
	</tr>
	<tr>
		<td>Last name:</td>
		<td>
			<input type="text" name="lastName" value="@account.map(_.lastName)" />
		</td>
	</tr>
	<tr>
		<td>Email:</td>
		<td>
			<input type="text" size="40" name="email" value="@account.map(_.email)" />
		</td>
	</tr>
	<tr>
		<td>Phone:</td>
		<td>
			<input type="text" name="phone" value="@account.map(_.phone)" />
		</td>
	</tr>
	<tr>
		<td>Address 1:</td>
		<td>
			<input type="text" size="40" name="address1" value="@account.map(_.address1)" />
		</td>
	</tr>
	<tr>
		<td>Address 2:</td>
		<td>
			<input type="text" size="40" name="address2" value="@account.map(_.address2)" />
		</td>
	</tr>
	<tr>
		<td>City:</td>
		<td>
			<input type="text" name="city" value="@account.map(_.city)" />
		</td>
	</tr>
	<tr>
		<td>State:</td>
		<td>
			<input type="text" size="4" name="state" value="@account.map(_.state)" />
		</td>
	</tr>
	<tr>
		<td>Zip:</td>
		<td>
			<input type="text" size="10" name="zip" value="@account.map(_.zip)" />
		</td>
	</tr>
	<tr>
		<td>Country:</td>
		<td>
			<input type="text" size="15" name="country" value="@account.map(_.country)" />
		</td>
	</tr>
</table>

<h3>Profile Information</h3>

<table>
	<tr>
		<td>Language Preference:</td>
		<td>
			<select name="languagePreference" value="@account.map(_.languagePreference)">
			@for(lang <- AccountActionBean.LANGUAGE_LIST) {
				<option value="@lang"
					@(if(account.exists(_.languagePreference == lang)) "selected" else "")
				>@lang</option>
			}
			</select>
		</td>
	</tr>
	<tr>
		<td>Favourite Category:</td>
		<td>
			<select name="favouriteCategoryId" value="@account.map(_.favouriteCategoryId)">
			@for(cat <- AccountActionBean.CATEGORY_LIST) {
				<option value="@cat"
					@(if(account.exists(_.favouriteCategoryId == cat)) "selected" else "")
				>@cat</option>
			}
			</select>
		</td>
	</tr>
	<tr>
		<td>Enable MyList</td>
		<td>
			<input type="checkbox" name="listOption" value="true"
				@(if(account.exists(_.listOption == true)) "checked" else "")
			>
		</td>
	</tr>
	<tr>
		<td>Enable MyBanner</td>
		<td>
			<input type="checkbox" name="bannerOption" value="true"
				@(if(account.exists(_.bannerOption == true)) "checked" else "")
			>
		</td>
	</tr>

</table>
