@()

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <title>JPetStore Demo</title>
    <link rel="StyleSheet" href="css/jpetstore.css" type="text/css" media="screen"/>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  </head>

  <body>
    <div id="Content">
      <h2>Welcome to JPetStore 6</h2>

      <p><a href="catalog/">Enter the Store</a></p>

      <p><sub>Forked from mybatis/jpetstore-6 </sub></p>

      <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
    </div>
  </body>
</html>
